.header_top_wrapper
{
    display: flex;
    justify-content: space-between;
}
.top_bar
{
    height: 50px;
    display: flex;
    align-items: center;
}
.top_nav 
{
    position: relative;
}
.top_nav .main_menu_nav > ul > li, .top_nav .top_nav_wrapper > ul > li
{
    position: relative;

float: left;

font-size: 16px;

line-height: 1;

color: #fff;

font-weight: 600 !important;
letter-spacing: -.02em;
text-transform: capitalize;
}
.top_nav  ul > li > a
{
    color: #1e3060;

padding: 20px 20px;

text-transform: normal;

font-size: 16px;

height: auto;
/* letter-spacing: -.02em; */
font-weight: 600;
}

.top_nav .main_menu_nav > ul > li ul, .top_nav .top_nav_wrapper > ul > li ul

{
    position: absolute;
    top: 120%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    list-style: none;
    padding: 14px 0;
    margin: 0;
    width: 230px;
    z-index: 1;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.27);
    transition: all .3s ease;

}
.top_nav .main_menu_nav > ul li:hover > ul, .top_nav .top_nav_wrapper > ul li:hover > ul
{
    visibility: visible;

opacity: 1;
}
.top_nav  ul  li  a:hover


{
    color: #e27226;
}
.submenu
{
    padding: 20px 0px;
}
.top_nav  ul.sub-menu li a
{
    font-size: 14px;
    font-weight: 500;
    padding: 10px 20px;
    color:#333;
    display: block;

} 
.top_nav  ul.sub-menu > li > a:hover
{
    color:#fff !important;
    background: #1e3060 !important;

}
.top_nav  ul.sub-menu ul.sub-menu
{
    left: 100%;

top: -2px;

background: #1e3060;

padding: 6px 0 4px
}
.top_nav  ul.sub-menu ul.sub-menu li a
{
    color: #fff;

}
.top_nav  ul.sub-menu ul.sub-menu li a:hover
{
    color: #e27226;

}
.header_top 
{
    height: 96px;
    display: flex; 
    align-items: center;
    /* background: rgb(197, 197, 197); */
    top: 0;
}
.logo a img 
{
    width: 200px;
}
main
{
    margin: 0;
}

.top_bar_contacts_text i
{
 margin-right: 10px;
 color: #e27226;
}
.top_bar_contacts_text a
{
    color: #fff;
}
footer
{
    background: #1e3060;
}
footer .row
{
    display: flex;

}
footer .row > div 
{
    flex: 1;
    padding-left: 15px;
    padding-right: 15px;
}
#footer .footer_widgets {

    position: relative;
    padding: 54px 0 0;
    color: #fff;
}
element {

}
#footer .widgets_row .footer_text {

    color: #fff;
    opacity: .5;
    margin: 0 0 40px;
}
#footer .widgets_row .footer_logo a img {

    display: block;
    height: 45px;
    width: auto;
margin-right: auto;
}
#footer .widgets_row .footer_logo a {

    display: inline-block;
    vertical-align: top;
}
.copyright_row {

    background: #e27226;
}
#footer .footer_widgets .widget .widget_title {

    position: relative;
    text-transform: none;
    font-size: 20px;
    color: #fff;
    margin: 0 0 36px;
    padding-bottom: 18px;
    border-bottom: 1px solid rgba(204,204,204,.5);
    font-family: exo;
    font-weight: 500;
}
.tnp-widget-minimal input.tnp-email {

    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: inline-block;
    border: 1px;
        border-top-color: currentcolor;
        border-right-color: currentcolor;
        border-bottom-color: currentcolor;
        border-left-color: currentcolor;
    border-color: #ddd;
    background-color: #f4f4f4;
    color: #444;
    font-size: 14px;
    box-sizing: border-box;
    border: none;
    height: 50px;

}

.tnp-widget-minimal form {

    display: flex;
    box-sizing: border-box;

}
.tnp-widget-minimal input.tnp-submit {

    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: inline-block;
    border: 1px;

    border-color: #ddd;
    background-color: #444;
    background-image: none;
    text-shadow: none;
    color: #fff;
    font-size: 14px;
    line-height: normal;
    border-radius: 0px;
    box-sizing: border-box;
    height: 50px;
}
.tnp-widget-minimal input.tnp-submit {

    background: #e27226 !important;
}

.stm_contacts_widget.style_4 ul li
{display: flex;

}
.stm_contacts_widget.style_4 ul li i{
    color: #e27226;
    margin-right: 10px;
}
#custom_html-5 {

    margin-bottom: 10px !important
}
#footer .footer_widgets .widget {

    margin: 0 0 50px;
}
#footer .copyright_row .copyright_row_wr .copyright {

    float: left;
    font-size: 13px;
    line-height: 20px;
    color: rgba(255,255,255,.5);
    width: 50%;
    padding: 10px 0 14px;
}
footer .copyright_row .copyright_row_wr {

    border-top: 1px solid rgba(204,204,204,.25);
    padding: 16px 0 18px;
    height: 79px;;
}