input.file-path{
  visibility: hidden
}


main {
  margin-top: 0px; }

.logo img {
  width: 170px; }

main::after {
  content: "";
  clear: both;
  display: table; }

.form_sidebar {
  /* padding: 20px ; */
  width: 255px;
  float: left; }
  .form_sidebar ul
  {
    padding: 0px;
  }
  .form_sidebar ul li {
    position: relative;
    display: block; }
    .form_sidebar ul li::after {
      content: "";
      position: absolute;
      left: 18px;
      top: 60px;
      width: 4px;
      background: #c2c2c2;
      height: 20px;
      z-index: 10;
      border-radius: 4px; }
    .form_sidebar ul li:last-child::after {
      display: none; }
    .form_sidebar ul li a {
      display: flex;
      padding: 15px 0;
      text-decoration: none;
      align-items: center;
      color: #858585; }
      .form_sidebar ul li a span {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #858585;
        color: #e0e0e0;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 11; }
    .form_sidebar ul li.active a {
      
    }
      .form_sidebar ul li.active a span {
        width: 40px;
        height: 40px;
        background: linear-gradient(58deg, #1e3060 0, #5c80df );
        color: #fff; }
      .form_sidebar ul li.active a div {
        color: #1e3060; }


.contents {
  margin-left: 260px;
  margin-right: 20px;
  border: 0px solid #db7328;
  border-radius: 10px;
  /* margin-top: -50px; */
  margin-bottom: 50px;
  box-shadow: 0 0px 18px 0 rgba(0, 0, 0, 0.2) !important;
  position: relative;
  overflow-x: hidden; 
  background: #ffffff;  
}

.content-head {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100px;
  left: 0;
  top: 0px; }
  .content-head h4 {
    margin: 0;

    position: absolute;
    padding: 15px 30px ;
    top: 0px;
    left: 0px;
    font-size: 24px;
    width: 100%;
    z-index: 13; 
    border-bottom: 1px solid rgba(43, 52, 58, 0.05);
  }

  .content-head .id {
    position: absolute;
    top: 42px;
    right: 50px;
    padding-right: 10px;
    padding-left: 10px;
    background: #fff;
    z-index: 13; }

.pane {
  padding: 50px;
  padding-top: 100px; }

.pane2 {
  padding: 50px;
  padding-top: 50px;
  background: #f8f8f8; }

.controls {
  height: 80px;
  padding: 0px 50px;
  display: flex;
  align-items: center;
  gap: 20px;
  background: #eee; 
  justify-content: space-between; }

.bkbtn {
  background: #999; }

.menu-menu1 li {
  display: block; }

footer {
  background: #1e3060; }


  footer img {
    display: block;
    margin: auto; }

.input-field > label {
  z-index: 15; 
  font-weight: normal;}
   
.input-field > input {
  z-index: 16;
  position: relative; }

.tab-pane
{
  position: relative;
}

nav
{
  width: auto !important;
  height: 50px !important;
  line-height: 20px !important;
  box-shadow: none;
}
.uploaded-file
{
  width: 100px;
  height: 100px;
  border: 4px solid #aaa;
  /* margin-top: 10px; */
  margin: 10px 10px 10px 0px;
  float: left;
  background-size: contain;
background-repeat: no-repeat;
background-position: center;

}
#AddModal
{
overflow: hidden;
overflow-y: hidden;
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;

z-index: 111111 !important;
top:0 !important;
padding: 0 !important;
width: 600px;
height: 286px;;
}

#AddModalImg
{
overflow: hidden;
overflow-y: hidden;
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;

z-index: 111111 !important;
top:0 !important;
padding: 0 !important;
width: 600px;
height: 286px;
}

.modal-dialog {

  /* width: 600px; */
  /* margin: 60px auto; */
}
#AddModal .modal-content
{
  /*top: 40px;*/
  top: 27px;
  background-color: #042a5c;
}

#AddModalImg .modal-content
{
  /*top: 40px;*/
  /*top: 27px;*/
  background-color: #042a5c;
}

.modal-overlay
{
  /* z-index: 1111002 !important; */
}

.ash
{
  /* background: rgb(214, 170, 170); */
  /* clear: both; */
  display: flex;
  flex-wrap: wrap;
  /* border: 2px solid #ddd; */
  background: #fbfbfb;
  border-radius: 5px;;
  padding: 15px;;
}
.ash-field
{
  width:50%;
  /* float: left; */
  padding: 15px;
}
.ashw50
{
  width: 100%;
}

.up-files
{

}
.file-approve-buttons
{
  padding:  10px 0px;
}
.file-approve-buttons a.btn{
  margin-right: 8px;
}



.pgtitle {
  padding: 50px 0;
  background: url(../img/bg.jpg);
  background-size: cover;
  color: #fff; }

.container {
  width: 1150px; }

.signup {
  width: 100%;
  max-width: 600px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 0; }
  .signup .pane {
    padding-top: 50px; }


.mgbtn
{
  border-radius: 36px !important;
}
.mgbtn2
{
  height: 40px;
  padding: 8px 20px;
  border: 1px solid #f0f0f0;
  background-color: #ffffff;
box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.055);
border-radius: 36px !important;
cursor: pointer;
color: #1e3060;

}
.file-field .btn
{
 background: #fff;
 color: #5e5e5e;
 height: 35px ;
 line-height: 35px;
 border-radius: 5px;
 box-shadow: none;
 border: 1px solid #f0f0f0;

 font-size: 13px;

}
.file-field .btn:hover 
{
  background: #f6f6f6;
  color: #1a1a1a;
}
.panel
{
  /* padding: 0px 30px; */
  /* background:#f2f4f6; */
}

.stdhst
{
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 15px;
  margin-left: 30px;
  /* margin-left: 40px; */

  position: relative;
  min-height: 100px;
  font-family: sen;
  padding-right: 30px;
  margin-bottom: 15px;
}
.stdhst .index

{
 position: absolute;
 width: 30px;
 height: 30px;
 border-radius: 30px;
box-shadow: 0 0.1rem .5rem rgba(0, 0, 0, 0.247);
top: 15px;
left: -15px;
/* left: -40px; */

background: #ffffff;
text-align: center;
padding-top: 8px;
line-height: 16px;
font-size: 16px;
/* border: 1px solid #aaa; */
color: #aaa;
}
.stdhst .index:after
{
position: absolute;
/* content: ""; */
border-left: 1px solid rgba(170, 170, 170, 0.329);
height: 295px;
left: 14px;
top: 100%;

}

.mg-input-field 
{

}
.mg-input-field input 
{
border: 1px solid #aaa !important;
height: auto !important;
border-radius: 5px  !important;;
padding: 5px 8px !important;
font-size: 1px;
font-family: sen;
width: 100% !important;
}
.mg-input-field .input-field
{
  margin: 0 !important;

}
.addshbtn
{
  background: #ffffff !important;
  color: #1e3060 !important;
  width: 30%;
border: 0px solid #aaa !important;
box-shadow: 0 0.1rem .5rem rgba(0, 0, 0, 0.068) !important;
display: block !important;
border-radius: 5px  !important;;
font-family: sen;


width: 30px!important;
height: 30px!important;
border-radius: 30px !important;;;
box-shadow: 0 0.1rem .5rem rgba(0, 0, 0, 0.247) !important;
background: #ffffff;
text-align: center;
/* padding-top: 9px; */
line-height: 16px;
font-size: 16px;
position: relative;
padding: 0px !important;
margin-left: 17px;
}
.addshbtn span
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.xclose
{
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 3px;
  border: 0px solid #aaa !important;
  background: #ffffff;
  padding: 4px;
  color: #888;
  box-sizing: border-box;
  font-size: 15px;
  box-shadow: 0 0.1rem .3rem rgba(0, 0, 0, 0.247);
}
.profile2
{
  padding: 30px;
}
.vhead
{
  /* margin-bottom: 30px; */
  border-radius: 10px 10px 0 0; 
}
.profile2 .nav-tabs.profile
{
  background: #fff;
  /* border-radius: 10px 10px 0 0; */
}
.profile2 .vs-tabs

{
  border-radius: 0 0 10px 10px;
overflow: hidden;
}
.vs-tabs .panel-body
{
padding: 0;;
}
.vs-tabs .form_sidebar
{
  padding:30px;
  box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.1) !important;
  width: 285px;;
  position: absolute;
  height: 100%;
}

.vs-tabs .contents
{
  box-shadow: none !important;
  background: transparent;
  margin-top: 0;
  margin-right: 0;
  margin-left: 285px;
}
.vs-tabs main
{
 min-height: 700px;
}
.mgv-field  
{
    font-family: sen;
    display: flex;
    padding: 20px 0px;
    border-bottom: 1px solid rgba(43, 52, 58, 0.05);

}
.mgv-field  .name
{
  color: #1a1a1a;
  flex-basis: 50%;
  padding-right: 30px;
  font-weight: normal;
  position: relative;
  display: block !important;
}
.mgv-field  .name::after
{
  position: absolute;
  content: ":";
  right: 0;;
  top: 0;

}

.mgv-field  .value
{
  color: #1a1919;
  font-weight: bold;
  padding-left: 30px;

}

.mgv-row
{
  margin-left: -20px;
  margin-right: -20px;

}
.mgv-table
{
font-size: 12px;
/* border: 1px solid #e0e0e0; */
border-radius: 5px;
border-collapse: separate;
border-spacing: 0px 15px;
font-family: sen;
font-size: 12px;
}

.mgv-table th
{
/* background: #f5f5ff; */
text-align: center;


}
.mgv-table tr{
  border: 0;
  box-shadow: 0 2px 10px 0 rgba(206, 206, 206, 0.373) !important;
/* background: #bebec5; */
  border-radius: 5px;
}
.mgv-table tr:first-child{
background: #f5f5ff;
  
}
.mgv-table td
{
 /* padding-left: 10px; */
text-align: center;

}

.mgv-applied-course
{
  min-height: 100px;
  /* border: 3px solid #ccc; */
  position: relative;
  border-radius: 5px;
  margin-bottom: 30px;
  box-shadow: 0 4px 15px 0 rgba(100, 100, 100, 0.1) !important;
  background: linear-gradient(58deg, #fefefe, rgba(110, 138, 208, 0.11) );
  font-family: sen;
  padding: 15px;
  padding-left: 30px ;
  line-height: 1.6;


}
.mgv-applied-course .slno
{
    position: absolute;
    top: 15px;
    height: 30px;
    width: 30px;
    background: #fff;
    left: -16px;
    border-radius: 20px;
    text-align: center;
    padding-top: 3px;
  box-shadow: 0 0px 15px 0 rgba(100, 100, 100, 0.1) !important;


}
.mgv-applied-course .country
{
 font-size: 12px;
 text-transform: uppercase;
 color: #1a1a1a;
 padding-left: 30px;

}

.mgv-applied-course .uni 
{
  font-size: 18px;
  position: relative;
  padding-left: 30px;
}
.mgv-applied-course .uni:before
{
  position: absolute;
  height: 18px;
  width: 18px;
  background: url(../img/uni.svg);
  background-size: cover;
  content: "";
  left: 2px;
  top: 4px;
}
.mgv-applied-course .course 
{
  font-size: 16px;
  position: relative;
  padding-left: 30px;
}
.mgv-applied-course .course:before
{
  position: absolute;
  height: 22px;
  width: 22px;
  background: url(../img/book.svg);
  background-size: cover;
  content: "";
  left: 0;
  top: 1px;
}
.mgv-applied-course .course span
{
  background: rgb(137, 188, 235);
  border-radius: 2px;
  font-size: 12px;
  padding: 0px 2px;
  color: #fff;
}
.mgv-applied-course .date
{
  padding-left: 30px;

}

.academic
{

  min-height: 100px;
  /* border: 3px solid #ccc; */
  position: relative;
  border-radius: 5px;
  margin-bottom: 30px;
  box-shadow: 0 4px 15px 0 rgba(100, 100, 100, 0.1) !important;
  background: linear-gradient(58deg, #fefefe, rgba(110, 138, 208, 0.11) );
  font-family: sen;
  padding: 30px ;
  /* padding-left: 30px ; */
  line-height: 1.6;

}
.academic h3 
{
  font-size: 20px;
  margin: 0;
  padding: 0px 0px 8px 0px;
  border-bottom: 1px solid #ccc;
}
.academic .mgv-field

{
  padding: 8px 0px;
}
.academic  .mgv-field .name
{
  flex-basis: 50%;
  text-align: left;
}
.mgv-field img
{
 width: 150px;
 border: 5px solid #eee;
 border-radius: 5px;;
 padding: 10px;
}
.nb
{
  border: 0 !important;
}
.mgb-rej, .mgb-app
{
  font-size: 12px !important;
background: #ffffff !important;
color: #1e3060 !important;
}
.mgb-rej i{
  color: rgb(224, 79, 79);
}
.mgb-app i{
  color: rgb(51, 170, 67);
}

    /* .input-field
    {
      position: relative;
      height: 50px;
    }
    .input-field input[type=text]
    {
      border-radius: 5px;
      border: 1px solid #ccc;
      height: 30px;;
      position: absolute;
      z-index: 100;
      padding: 3px 8px;
    }
    .input-field label
    {
      position: absolute;
      z-index: 90;
      background: #fff;
      font-size: 13px;
      top: -5px;
      left: 8px;
      padding: 0px 4px;
    }

    .input-field > label:not(.label-icon).active
    {
      width: auto !important;
      z-index: 100;
      top:6px;


    }
    input.valid:not([type]), input.valid:not([type]):focus, input.valid[type="text"]:not(.browser-default), input.valid[type="text"]:not(.browser-default):focus, input.valid[type="password"]:not(.browser-default), input.valid[type="password"]:not(.browser-default):focus, input.valid[type="email"]:not(.browser-default), input.valid[type="email"]:not(.browser-default):focus, input.valid[type="url"]:not(.browser-default), input.valid[type="url"]:not(.browser-default):focus, input.valid[type="time"]:not(.browser-default), input.valid[type="time"]:not(.browser-default):focus, input.valid[type="date"]:not(.browser-default), input.valid[type="date"]:not(.browser-default):focus, input.valid[type="datetime"]:not(.browser-default), input.valid[type="datetime"]:not(.browser-default):focus, input.valid[type="datetime-local"]:not(.browser-default), input.valid[type="datetime-local"]:not(.browser-default):focus, input.valid[type="tel"]:not(.browser-default), input.valid[type="tel"]:not(.browser-default):focus, input.valid[type="number"]:not(.browser-default), input.valid[type="number"]:not(.browser-default):focus, input.valid[type="search"]:not(.browser-default), input.valid[type="search"]:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid > input.select-dropdown   
     {
      border-top-width: 1px;
      border-right-width: 1px;
      border-left-width: 1px;

      border: 1px solid #4CAF50;


    }
    .input-field .helper-text{
      top: 40px;
      left: 10px;
    } */

/* 
    
    .input-group 
    {
      margin-bottom: 20px;
    }
    .input-group label 
    {
      color: #8A98AC;
      font-size: 12px;
      display: block;
    }
    .input-group .form-control 
    {

      border-radius: 5px !important;
    } */
	
	
#mx_students_view .addshbtn {
	float: right;
}
.stdhst .select-wrapper .select-dropdown  {
	line-height: 1.42857143;
}
#AddModal1
{
  height: 100vh;
  width: 100vw;
  max-height: 100%;
  background: rgba(73, 73, 73, 0.51);
}



#AddModal1 .modal-footer
{
  background: #fff;
}
.mx-approve-doc
{
  font-size: 12px;
}
.mgv-wrap 
{
  border: 1px solid #ccc;
 border-radius: 5px;
 padding: 20px;
 margin-left: -20px;
 margin-right: -20px;
 padding-bottom: 0;
 margin-bottom: 30px;
 position: relative;
 padding-top: 60px;
}
.mgv-wrap h4

{
  position: absolute;
top: 0;
left: 0;
width: 100%;
background: #eee;
margin: 0;
padding: 10px;
padding-left: 20px;
border-bottom: 1px solid #ccc;

}